* {
    margin: 0;
    padding: 0;
}

.section{
    width: 80%;
    margin: auto;
    margin-top: 6%;
    display:grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: auto;

}
.cards
{
    width: 250px;
    padding: 10px;
}
.cards:hover
{
   /*  box-shadow: 0 10px 10px rgba(0,0,0,1); */
    cursor: pointer;;
}
.image_box img{
    width: 170px;
    height: 200px;
}
.details p:nth-child(1){
    font-weight: bold;

    
}
.details p:nth-child(2){
    color: rgb(41, 39, 39);
    font-size: 0.9rem;
   
}

.details p:nth-child(4)
{
    
    font-weight: bold;
    color: rgb(10, 10, 10);
   
}
.details button{
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    background-color: rgb(141, 207, 96);
    outline: none;

}